<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Vue.js -->
  <script src="./static/js/vue-2.5.17.min.js"></script>
  <script src="./static/js/vue-resource-1.5.1.min.js"></script>

  <!-- bootstrap -->
  <link rel="stylesheet" href="./static/css/bootstrap-4.1.3.min.css">

   <style>
    .ball {
      border-radius: 50%;
      height: 40px; 
      width: 40px; 
      max-width: 40px;
      max-height: 40px;
      //margin: 5px 5px;
      margin: auto;
      background-color: #DCDCDC;
      position: relative; 
      text-align: center; 
      display: table-cell;
      vertical-align: middle;
      font-size: large;
      font-weight: bold;
    }

    .nopadding {
      padding: 0 !important;
      margin: 0 !important;
    }

    .padding-5px {
      padding: 5 !important;
      //margin: 5 !important;
    }
    

   </style>

  <title>go go Lotto</title>

</head>

<body>

  <div class="container">
    <h1>Random Lotto Numbers</h1>
  <div class="container">

<!-- start vue app -->

    <div id="swisslotto" class="border rounded padding-5px">

      <div class="row"> 
        <hr>
        <h2 class="col-sm">Swisslotto</h2>
      </div>
      <div class="row"> 
        <div class="col-sm-1"></div>
        <h3 class="col-sm-3 text-left padding-5px">Numbers</h3>
        <numbers-item
          v-for="item in numbers"
          v-bind:number="item"
          v-bind:key="item"
        ></numbers-item>
      </div>

      <div class="row"> 
        <div class="col-sm-1"></div>
        <h3 class="col-sm-3 text-left padding-5px">Lucky</h3>
        <numbers-item
          v-for="item in lucky"
          v-bind:number="item"
          v-bind:key="item"
        ></numbers-item>
      </div>

    </div>

<!-- stop vue app -->

  </div>
  </div>

  <script>
  /* start vue components */

    Vue.component('numbers-item', {
      props: ['number'],
      template: '<div class="padding-5px rounded-circle border"><div class="ball">{{ number }}</div></div>'

    })

  /* stop vue components */

    var swisslotto = new Vue({
      el: '#swisslotto',
      data: {
        numbers: '',
        lucky: '',
      },

      created: function() {
        this.$http.get('/swisslotto').then(response => {
          this.numbers = response.body["numbers"];
          this.lucky = response.body["lucky"];
        })
      },

      /* not used at the moment
      methods: {
        newNumbers: function(){
          this.$http.get('/swisslotto').then(response => {
            this.numbers = response.body["numbers"];
            this.lucky = response.body["lucky"];
          })
        }
      },
      */

      mounted: function() {
        setInterval(function() {
          swisslotto.$http.get('/swisslotto').then(response => {
            swisslotto.numbers = response.body["numbers"];
            swisslotto.lucky = response.body["lucky"];
          }) }, 2000)
      }

    })
  </script>
<body>
</html>
